<<<<<<< HEAD
=======
/* navbar */
>>>>>>> d5d657cdc8eb94008b1943e630f7d47ba8df8cd7
.monNav{
  width: 100%;
  height: 100px;
  background-color: blue;

}
.connexion{
  background-color: brown;
  padding: 50px;
  width: 50%;
}
.inscription{
   background-color: rgb(22, 161, 17);
  padding: 50px;
  width: 50%;
}