.carte:hover .app{
    opacity: 1;
}

.app:hover{
    cursor: pointer;
}


.app {
    background-color: #F9F9F9;
    opacity: 0;
}

.carte a:hover .app {
    opacity: 1;
}



.card-img-top {
    height: 400px;
    object-fit: cover;
}
.btn{
    border: none;
    background-color: rgba(90, 43, 10, 0.671);
    color: bisque;
    font-weight: bold;
}
.btn:hover
{
    background-color: #F5D2BC;
    color:  rgba(90, 43, 10, 0.671);
    font-weight: bold;

}
.card-body{
    background-color: #F9F9F9;
}
h6{
    font-weight: bold;
    padding: 10px;
}